<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

<bean id="dataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource">
<property name="driverClass" value="com.mysql.jdbc.Driver"></property>
<property name="jdbcUrl" value="jdbc:mysql://localhost:3306/mytest?useUnicode=true&amp;characterEncoding=utf8&amp;useSSL=true"></property>
<property name="user" value="root"></property>
<property name="password" value="123456"></property>
<property name="maxPoolSize" value="40"></property>
<property name="minPoolSize" value="1"></property>
<property name="initialPoolSize" value="1"></property>
<property name="maxIdleTime" value="20"></property>
</bean>
<bean id="sessionFactory"  class="org.springframework.orm.hibernate3.LocalSessionFactoryBean">  
    <property name="dataSource">  
       <ref bean="dataSource" />  
   </property>  
     <property name="mappingResources">  
       <list>  
       <value>com/entity/User.hbm.xml</value>    
       </list>  
   </property>  
     <property name="hibernateProperties">  
     <props>  
       <prop key="hibernate.dialect">  
         org.hibernate.dialect.MySQLDialect   
       </prop>  
      </props>  
   </property>  
</bean>  
<bean id="hibernateTemplate"  class="org.springframework.orm.hibernate3.HibernateTemplate">  
          <property name="sessionFactory">  
             <ref bean="sessionFactory"/>  
          </property>  
          <property name="allowCreate">  
            <value>true</value>  
          </property>  
</bean> 
<bean id="userDao" class="com.dao.impl.UserDaoImpl">
<property name="sessionFactory">
<ref bean="sessionFactory"/>
</property>
</bean>
</beans>